<!DOCTYPE html>
<html lang=ja>
	<head>
		<meta http-equiv="content-type" content="text/html"; charset="UTF-8"/>
		<title><%= title %></title>
		<script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
		<script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/input.css"/>

	</head>

	<body>
		
		<div class="titleba">
			<div class="button_history">
				<button class="rireki" onclick="location.href='/history'">履歴</button>
			</div>		
			<div class="titles"><h1><%= title %></h1></div>
		</div>
		
		<form action="../continue" method="post" >
			<input id="_UserID" type="hidden" name = "UserID" value="UserID">
			<div class="food_name">
				<h3>食品名</h3>
				<input type="text" name="food_name" value = <%= name %> >
			</div>
			<div class="limit">
				<h3>期限</h3>
				<select id="date_select">
					<option value="use">日付あり</option>
					<option value="no">日付なし</option>
				</select>
					
				<div id="usedate" style="display:block;">
					<input id="ex_box_a" type="date" name="limit" value= <%=limit %>>
				</div>
				<div id="nodate" style="display:none;">
					<input id="ex_box_a" type="month" name="limit" value= <%=limit %>>
				</div>
				<!--入力欄の切り替え-->
				<script>
					document.getElementById("date_select").addEventListener("change", function(){
						var age_elem = document.getElementById("date_select");
						var s_value = age_elem.options[age_elem.selectedIndex].value;
						var box_div_elem1 = document.getElementById("usedate");
						var box_div_elem2 = document.getElementById("nodate");

						if(s_value == "use"){
							box_div_elem1.style.display = 'block';
							box_div_elem2.style.display = 'none';
						}else{
							box_div_elem1.style.display = 'none';
							box_div_elem2.style.display = 'block';
						}
					}, false);
					
				</script>
			</div>
			<input type="submit" value="送信する" class="finish"></input>
		</form>	
		<script>
		$(function(){
		liff.init(
			data => {
			userId = data.context.userId;
			document.getElementById("_UserID").value = userId
			})})
			</script>
		   		
				  
		<footer>
			<p>&copy; 2019 デザイン情報総合演習 H-1</p>
		</footer>
	</body>
</html>