<!DOCTYPE html>
<html lang=ja>
	<head>
        <meta http-equiv="content-type" content="text/html"; charset="UTF-8">
        <title><%= title %></title>
		<script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
        <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script> 
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/stocklist.css">
	</head>

	<body>
		<div class="titleba">
			<div class="move">
                <button class="back" onclick="location.href='/'">戻る</button>
                <button class="score" onclick="location.href='/score'">スコア</button>
			</div>
			
			<div class="titles">
                <h1><%= title %></h1></div>
        </div>
       
        <div class="now">
            <p>
                今日は<br><%= now_date %></span>
            </p>
        </div>
        <div class="stocklists">
                <% for (var i = 0; i < collection.length; i++){ %>
                    <table>
                            <tr>
                                <th>写真</th>
                                <td>名前 <%= collection[i].name %></td>
                                <td>期限 <%= collection[i].limit %></td>
                                <td>
                                    開封
                                    <form action ="" method = post>
                                        <input type="hidden" name="name" value="<%= collection[i].name %>" />
                                        <input type="hidden" name="limit" value="<%= collection[i].limit %>" />
                                        <input type="hidden" name = "id" value = "<%= doc_id[i] %>" /> 
                                        <input type ="image" src="/images/open.png" class="check"></img>
                                    </form>    
                                </td>
                                <td>
                                    消費済
                                    <form action = "../eaten" method = post>
                                        <input type="hidden" name="name" value="<%= collection[i].name %>" />
                                        <input type="hidden" name="limit" value="<%= collection[i].limit %>" />
                                        <input type="hidden" name = "id" value = "<%= doc_id[i] %>" />
                                        <input type="image" src="/images/eated.png" class="check" />
                                    </form>
                                    
                        
                                </td>    
                                <td>
                                    外部へ
                                    <a href="https://recipe.rakuten.co.jp/search/<%= collection[i].name %>"><img src="/images/recipe.png" class="check" </a></td>    
                            </tr>
                        </table>
                <% } %>
        </div>
       
		<footer>
			<p>&copy; 2019 デザイン総合情報演習 H-1</p>
		</footer>
	</body>
</html>